@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Prata&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Manrope;
}





.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}




@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.333333%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}



@keyframes instagram-slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.instagram-slider {
  animation: instagram-slider 35s linear infinite;
}

.instagram-slider:hover {
  animation-play-state: paused;
}

